diffusers[torch]==0.11.1
transformers>=4.25.1
bitsandbytes==0.35.4
decord==0.6.0
accelerate
tensorboard
modelcards
omegaconf
einops
imageio
ftfy
gfpgan
basicsr>=1.4.2
facexlib>=0.2.5
gfpgan>=1.3.5
numpy
opencv-python
Pillow
tqdm
controlnet-aux
boto3
safetensors
moviepy
compel
ffmpeg